mat-card {
  max-width: 150px; /*  todo dynamically calculate based on screen width */
  display: inline-block;
  margin: 5px;
}

.card-sm {
  max-width: 160px;
}

img {
  height: 300px;
  object-fit: cover;
}

mat-card-header {
  height: 100px;
}
