mat-card {
  max-width: 150px;
  min-width: 110px;
  display: inline-block;
  margin: 5px;
}

.card-sm {
  max-width: calc(50% - 43px);
}

img {
  height: 300px;
  object-fit: cover;
}

mat-card-header {
  height: 100px;
}
