mat-card {
  max-width: 230px;
  min-width: 230px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

mat-card-title {
  height: 90px;
}

mat-card-subtitle {
  height: 30px;
}

img {
  height: 300px;
  object-fit: cover;
}

mat-card.card-sm {
  max-width: calc(50% - 10px);
  min-width: calc(50% - 10px);
}

mat-card.card-xs {
  max-width: calc(100% - 10px);
  min-width: calc(100% - 10px);
}

mat-card.card-xs mat-card-title,
mat-card.card-xs mat-card-subtitle {
  height: auto;
}

