<mat-card class="mat-card-centered">

  <h1 i18n>Company</h1>

  <mat-form-field>
    <input matInput required i18n-placeholder placeholder="Enter company name"
           [(ngModel)]="company.name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput matTextareaAutosize i18n-placeholder placeholder="Enter company descriptions"
              [(ngModel)]="company.description"></textarea>
  </mat-form-field>

  <div class="form-field-margin text-align-right">
    <button mat-flat-button color="primary" (click)="save()" [disabled]="sending" i18n>Save</button>

    <button mat-stroked-button color="primary" routerLink="/admin/companies" i18n>Cancel</button>
  </div>

</mat-card>

