
.mat-card-centered {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

mat-card.mat-card-centered > mat-form-field {
  width: 100%;
}

mat-card.mat-card-centered > mat-list > mat-list-item > div > a {
  text-align: left;
  width: 100%;
}

/** **/

.form-field-margin {
  border-top: 0.84375em solid transparent; /* mat-form-field-infix */
  padding-bottom: 1.25em; /* mat-form-field-wrapper */
}

.form-field-margin button:not(last-child) {
  margin-left: 5px;
}

/** **/

.text-wrap {
  white-space: normal !important;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left
}

.text-align-right {
  text-align: right;
}

.text-strike-through {
  text-decoration: line-through;
}

.font-minus-1 {
  font-size: .9em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}
