

.form-field-margin {
  border-top: 0.84375em solid transparent;
}


.text-wrap {
  white-space: normal !important;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left
}

.text-align-right {
  text-align: right;
}

.text-strike-through {
  text-decoration: line-through;
}

.font-minus-1 {
  font-size: .9em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}
