/* http://mcg.mbitson.com/#!?mcgpalette0=%230e4164#%2F */
$mat-gc-ca1: (
  50: #E2E8EC,
  100: #B7C6D1,
  200: #87A0B2,
  300: #567A93,
  400: #325E7B,
  500: #0E4164,
  600: #0C3B5C,
  700: #0A3252,
  800: #082A48,
  900: #041C36,
  A100: #6EA9FF,
  A200: #3B8BFF,
  A400: #086DFF,
  A700: #0061ED,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// https://knizia.biz/mcg/#/
$mat-gc-ca: (
  50: #E0E6EB,
  100: #B4C4CF,
  200: #86A0B1,
  300: #567A92,
  400: #325D7B,
  500: #0E4164,
  600: #0D3B5B,
  700: #0B3551,
  800: #0A2E47,
  900: #072234,
  A100: #6EA9FF,
  A200: #3B8BFF,
  A400: #086DFF,
  A700: #0061ED,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
