
.product-img {
  padding-right: 10px;
  padding-bottom: 5px;
}

.product-img img {
  height: 400px;
  max-width: 390px;
  object-fit: cover;
}

.product-img-xs { /* XS */
  width: 100%;
  text-align: center;
}

.product-img-xs img { /* XS */

  max-width: 100%;
}

.product-info-details {
  max-width: 390px;
  min-width: 300px;
  line-height: 1.75em;
}

.product-info-details .description {
  line-height: 1.5em;
}

.product-info-details-xs { /* XS */
  max-width: 100%;
  min-width: 100%;
  padding-top: 10px;
}

.product-info-order {
  width: 220px;
  line-height: 1.75em;
}

.product-info-order-xs { /* XS */
  width: 100%;
  padding-top: 5px;
}
