<div *ngIf="product" style="padding: 10px"
     fxFlex fxLayout="row"
     fxLayoutAlign="start none"
     fxLayout.xs="column">

  <div class="product-img" fxFlexOrder="0" ngClass.xs="product-img-xs">
    <img src="{{product.imageUrl || 'https://d2lzb5v10mb0lj.cloudfront.net/covers_tfaw/200/no/nocover.jpg'}}">
  </div>

  <div class="product-info-details" fxFlexOrder="2" fxFlexOrder.xs="2" ngClass.xs="product-info-details-xs">
    <div fxLayout="column">
      <div fxFill="fill">
        <div class="font-weight-500">{{product.name}}</div>
        <div>
          <span class="font-weight-300" i18n>Type:</span>
          <span class="font-weight-500"> {{product?.productType.name}}</span>
        </div>
        <div>
          <span class="font-weight-300" i18n>Publisher:</span>
          <span class="font-weight-500"> {{product?.company.name}}</span>
        </div>
        <div>
          <span class="font-weight-300" i18n>Release:</span>
          <span class="font-weight-500"> {{product.releasedAt|date}}</span>
        </div>
        <div>
          <span class="font-weight-300" i18n>UPC:</span>
          <span class="font-weight-500"> {{product.UPC}}</span>
        </div>
        <div class="font-minus-1 description">
          {{product.description}}
        </div>
      </div>
    </div>
  </div>

  <div class="product-info-order" fxFlexOrder="2" fxFlexOrder.xs="1" ngClass.xs="product-info-order-xs">

    <div fxLayout="column">
      <div class="text-align-center">
        <div class="detail" *ngIf="!product.customerDiscountPrice; else discount">
          {{product.customerPrice|currency}}
        </div>

        <ng-template #discount>
          <div>
            <ng-container i18n>Was:</ng-container>
            <span class="text-strike-through"> {{product.customerPrice|currency}}</span>
          </div>

          <div>
            <ng-container i18n>Your Price:</ng-container>
            {{product.customerDiscountPrice|currency}}
          </div>

          <div class="font-minus-1">
            <ng-container i18n>You Save:</ng-container>
            {{product.customerDiscount}}%
          </div>
        </ng-template>

        <button mat-flat-button color="primary" (click)="addToCart();" [disabled]="disableAddToCart" i18n>
          Add To Cart
        </button>

        <div *ngIf="product.preOrderDeadlineAt" class="font-minus-1">
          <ng-container i18n>Pre-Order Deadline:</ng-container>
          {{product.preOrderDeadlineAt|date}}
        </div>

        <div *ngIf="product.userPurchase" class="font-minus-1">
          <mark i18n>Previously Purchased</mark>
        </div>
      </div>
    </div>
  </div>
</div>
