<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">

    <mat-toolbar color="primary" i18n>Menu</mat-toolbar>

    <mat-nav-list>

      <a mat-list-item routerLink="/new-last-week"
         i18n>New Last Week
      </a>

      <a mat-list-item routerLink="/arriving-this-week"
         i18n>Arriving This Week
      </a>

      <a mat-list-item routerLink="/coming-next-week"
         i18n>Coming Next Week
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/admin/companies"
         i18n>Companies
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Pull List</span>

      <span class="mat-toolbar-spacer"></span>

      <span style="padding-right: 15px">
        <button mat-icon-button routerLink="/cart" i18n-aria-label aria-label="Shopping Cart">
          <mat-icon matBadgeColor="accent" matBadge="{{cart.getItemCount()}}">
            shopping_cart
          </mat-icon>
        </button>
      </span>

      <span style="padding-right: 5px">

        <ng-container *ngIf="! authService.isAuthenticated; else doAppMenu">
          <button mat-flat-button color="primary" routerLink="/login">
            <span i18n>Login</span>
          </button>
        </ng-container>

        <ng-template #doAppMenu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu" i18n-aria-label aria-label="Account">
            <mat-icon>
              account_circle
            </mat-icon>
          </button>

          <mat-menu #appMenu>
            <span mat-menu-item class="font-minus-1">{{authService.user?.email}}</span>
            <mat-divider></mat-divider>
            <button mat-menu-item>
              <span i18n>Order History</span>
            </button>
            <button mat-menu-item>
              <span i18n>Pending Pre Orders</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
              <span i18n>Logout</span>
            </button>
          </mat-menu>
        </ng-template>
      </span>

      <span style="padding-right: 15px">
        <button mat-icon-button i18n-aria-label aria-label="French">
          Fr
        </button>
      </span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
