/* You can add global styles to this file, and also import other style files */

* { /* fuck you margins */
  margin:0 ;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mark {
  background-color: rgba(233, 30, 99, .2);
  box-shadow: 0 0 10px 5px rgba(233, 30, 99, .2);
}



h1, h2, h3, h4, h5{
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}


.text-wrap {
  white-space: normal !important;
}

.text-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left
}

.text-align-right {
  text-align: right;
}

.text-strike-through {
  text-decoration: line-through;
}

.font-minus-1 {
  font-size: .9em;
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}
