/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }



.text-align-center {
  text-align: center;
}

.text-strike-through{
  text-decoration: line-through;
}

.font-weight-bold {
  font-weight: bold;
}

.font-minus-1 {
  font-size: .9em;
}

.font-weight-lighter {
  font-weight: lighter;
}
