<mat-card class="mat-card-centered">

  <h1 i18n>Companies</h1>

  <mat-list>
    <mat-list-item>
      <button mat-flat-button color="primary" routerLink="/admin/company"
              i18n>Add New
      </button>
    </mat-list-item>

    <ng-container *ngFor="let company of companies;  let last = last">
      <mat-list-item>
        <a mat-button routerLink="/admin/company/{{company.id}}">{{company.name}}</a>
      </mat-list-item>
      <mat-divider *ngIf="!last"></mat-divider>
    </ng-container>
  </mat-list>

</mat-card>
